* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 1em;
  font-family: 'Dosis', sans-serif
}
@media (min-width: 25em) { /* 400px */
  html {
    font-size: calc(1em + (1.6 - 1) * (100vw - 25em) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  html {
    font-size: 1.6em;
  }

}
body {
  background: #F2F3F4;
  line-height: 1.5;
}

.size-h1 {
  font-size: 1.3rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h1 {
    font-size: calc(1.3em + (3 - 1.3) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h1 {
    font-size: 3em;
  }
}

.size-h2 {
  font-size: 1.7rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h2 {
    font-size: calc(1.7em + (2 - 1.7) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h2 {
    font-size: 2em;
  }
}

/*Styling general*/

.centered {
  text-align: center;
}

/*Styling container and element*/

.grid-container, 
.grid-element {
 padding: 0.5rem;
}
.content-container, 
.content-element {
 padding: 0.5rem;
}

/*Styling the header*/

.header {
  background-image: linear-gradient(
    #62A9BE,
    #74A2BF,
    #7291B3,
    #6E7AA3);
  display: flex;
  justify-content: space-between;
}
.header .proyect-name {
  font-family: 'Merienda One', cursive;
  color: lavender;
  text-shadow: 2px 1px 1px #9A9B9D;
}
.header .inscribe {
  border-radius: 10px / 10px;
  border: 2px solid #7291B3;
  background: transparent;
  font-family: 'Merienda One', cursive;
  color: lavender;
}

/*Styling main division*/

.main-division  {
  overflow: hidden;
  margin: auto;
  text-align: left;
}
.main-division p {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  /*margin-bottom: 1rem;*/
}

/*Styling main-division1*/

.main-division1 {
  background-image: url(images/libros.jpg);
  background-size: cover;
  background-position: bottom;
  background-origin: border-box;
  text-align: center;
  color: lavender;
  text-shadow: 2px 2px 1px black;
}
.main-division1 .size-h1 {
  background: rgba(114, 145, 179, 0.5);
  font-family: 'Merienda One', cursive;
}
.main-division1.content-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding: 3rem;
}
.main-division div:last-child {
  margin-top: 3rem;
}

/*Styling main-division2*/

.main-division2 {
  background: #ECEDF7;
}
.main-division2 form {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: auto;
}
.main-division2 .get-it {
  font-weight: 900;
}
.main-division2 button {
  background: #AFBFD5;
  border: none;
   font-family: 'Merienda One', cursive;
}

























