* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}
@media (min-width: 25em) { /* 400px */
  html {
    font-size: calc(1rem + (1.5 - 1) * (100vw - 25em) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  html {
    font-size: 1.5rem;
  }

}
body {
  background: #F2F3F4;
  line-height: 1.5;
}
.canvas {
  max-width: 1599px;
  margin: auto;
  color: #333536;
}

.size-h1 {
  font-size: 2rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h1 {
    font-size: calc(2rem + (4 - 2) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h1 {
    font-size: 4rem;
  }
}

.size-h2 {
  font-size: 1.2rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h2 {
    font-size: calc(1.2rem + (2 - 1.2) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h2 {
    font-size: 2rem;
  }
}

/*Styling general*/

.centered {
  text-align: center;
}
.suscribe {
  background: #CFDAE7;
  border: none;
  /*font-family: 'Sansita', sans-serif;*/
  /*border-radius: 10% / 50%;*/
  color: #003A4C;
  cursor: pointer;
  padding: 0.5rem;
}
.suscribe:hover {
  box-shadow: 0 0 4px 4px #CFDAE7;
}

ul li {
  list-style: none;
}
a:link {
  text-decoration: none;
  color: #CFDAE7;
  cursor: pointer;
}
a:visited {
  color: #CFDAE7;
}
a:hover {
  color: white;
}

/*Styling container and element*/

.grid-container, 
.grid-element,
.grid-content {
 padding: 0.5rem;
} 
.content-element,
.content-content {
 padding: 0.5rem;
}
button.content-content {
  padding: 0.7rem;
}
.content-container {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Styling the header*/

.header {
  /*background-color: #CFDAE7;*/
  border-bottom: 2px solid #1E7C98;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  color: #1E7C98;
  /*padding-top: 0;*/
}
@media (min-width: 40.75em) {
  .header {
    justify-content: space-between;
  }
}
.header .size-h2 {
  font-weight: bold;
}
.information-link {
  display: flex;
  align-items: baseline;
   background-color: #1E7C98;
   margin-right: 0.5rem;
}
.information-link div {
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-link img {
  margin-right: 0.5rem;
}
.information-link:hover {
  transform: scale(1.1);
}
.information-link>div:first-child {
  margin-right: 0.5rem;
}
@media (min-width: 61.5em) {
  .information-link>div:first-child {
    margin-right: calc(0.5rem + (2 - 0.5) * (100vw - 61.5em) / (100 - 61.5));
  }

}
@media (min-width: 100em) {
  .information-link>div:first-child {
    margin-right: 2rem;
  }

}

/*Styling main division*/

.main-division  {
  /*overflow: hidden;*/
  margin: auto;
  /*margin-top: -3rem;*/
  text-align: left;
}
.main-division p {
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;
}
.main-division .size-h1,
.main-division .size-h2 {
  max-width: 30em;
  text-align: center;
}
.main-division ul,
.main-division ol {
  max-width: 25em;
  margin-left: 2rem;
}
.main-division li {
  margin-bottom: 0.5rem;
}
@media (min-width: 32.75em) {
  .main-division ul,
  .main-division ol {
  max-width: 25em;
  margin-right: auto;
  margin-left: auto;
 }
}

/*Styling main-division1*/

.main-division1 {
  background-image: url("images/blue-back.png");
  background-size: cover;
  background-position: top;
  background-origin: border-box;
  background-clip: border-box;
  text-align: center;
  color: white;
  padding-bottom: 5rem;
  z-index: 1;
  margin: 0;
}
.main-division1>div {
  margin: auto;
}
.main-division1 .size-h1 {
  /*font-family: 'Sansita', sans-serif;*/
  text-shadow: 2px 2px 1px #1E7C98;
}

.main-division1 form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.main-division1 input {
  outline: none;
  border: none;
  width: 20rem;
  text-align: center;
  max-width: 100%;
}
.main-division1 input:hover {
  box-shadow: 0 0 4px 4px white;
}

/*Styling main-division2*/


/*Styling main-division3*/
.main-division3 {}
.main-division3  .main-division-text {
  background: #1E7C98;
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #CFDAE7;
  z-index: 2;
  margin-top: -3rem;
}

/*Styling about me*/

.about-me {
}
.about-me .size-h2 {
  /*font-family: 'Sansita', sans-serif;*/
}


/*Styling main-division4*/
.main-division4 {
  background-color: #CFDAE7;
}
.main-division4 .image-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.main-division4 .image-title img {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.main-division4>div:first-child {
  color: black;
  font-weight: bold;
  margin: auto;
  text-align: center;

}
.main-division4 span {
  color: #007F9C;
}
.main-division4 .image-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}
.main-division4 .image-text {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.main-division4 .image-text img {
  margin: auto;
  height: 50%;
}
.main-division4 .image-text p {
  text-align: center;
  height: 50%;
}
/*Styling main-division5*/

.main-division5 {
  /*background-image: url("images/grey-back.png");
  background-size: cover;*/
  /*color: black;*/

}
.main-division5 .size-h2 {
 /*font-family: 'Sansita', sans-serif;*/
 
}
.main-division5 .image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
.main-division5 .image-text img {
  margin-right: 2rem;
  padding: 0.5rem;
  border: 2px solid #AFBFD5;
}
.main-division5 .image-text p:last-child {
  margin-left: 0;
}
.main-division5 span {
  color: #007F9C;
  /*text-shadow: 2px 2px 1px black;*/
}

/*Styling main-division6*/

.main-division6 {
  background: #CFDAE7;
}
.main-division6 p:first-child {
  /*font-family: 'Sansita', sans-serif;*/
}


/*Styling main-division7*/

.main-division7 {
  background: #1E7C98;
    /*font-family: 'Sansita', sans-serif;*/
}
.main-division7 button {
  display: block;
  margin: auto;
}
.main-division7 span {
  color: white;
  text-shadow: 2px 2px 1px #333536;

}

/*Styling main-division8*/

.main-division8 .size-h2 {
  /*font-family: 'Sansita', sans-serif;*/
}
.main-division8 .bullet-list li:before {
  content: "□ "
}
.main-division8 button {
  display: block;
  margin: auto;
}
.main-division8 span {
  font-weight: 900;
  color: black;
}




/*Styling footer*/

.footer {
 background-image: linear-gradient(
  #62A9BE,
  #74A2BF,
  #7291B3,
  #6E7AA3);
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 color: #AFBFD5;
 text-shadow: 2px 2px 1px #333536;
}

.footer .motto {
  /*font-family: 'Luckiest Guy', cursive;*/
  background-image: linear-gradient(130deg,
    white 25%,
   #2626FF 30%,
   #FF0000 40%,
   #2626FF 50%,
   white 60%);
   -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;

}
















